{% extends "base.html" %}
{% block title %}Custom Structure{% endblock %}
{% block content %}
<div class="row">
    <div class="large-9 columns">
    <div id="Product_Display" class="large-12 panel columns">
        <div class="row">
            <div class="large-6 columns">
               <div class="large-12 columns">
                    
                   <h2>8x8 2-Beam Treated Pine Pergola</h2>

                </div>
              

            </div>
            <div class="large-6 columns">
                <div class="large-6 columns">
                   Base Price: <h4>$1,000.00</h4>
                  
                </div>
                <div class="large-6 columns">
                   Customizations: <h4>$0.00</h4>

                </div>
            </div>
        </div>

      <div class="row">
        <!-- CANVAS!!!!!!!!! -->
          
            <canvas id="myCanvas" class="large-12 columns" style="background-color: #3F3AAB;" width="800" height="400" ></canvas>
         
          
      </div>
</div>
<!-- Start Info Blocks -->
        <div id="info_blocks" class="row"> 
             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>


             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>


          </div>
 <!-- End Info_Blocks -->


     </div>
         
        
    <div class="large-3 columns" id="right_Nav">
         <div class="panel">
          Total:<h3> $1,000.00  </h3> 
      </div>

      <div class="panel">
           <a class="large button alert expand" href="#">
           Add To Cart
          </a>
      </div>

      <div class="row">
       <div class="large-12 columns">
           <div class="panel">
               <div class="row">
                    <h5 style="text-align:center;"> Base Customizations</h5>
               </div>

                 Size:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                       8 x 8
                    </a>
                    <ul id="Size_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Material:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                        Treated Pine
                    </a>
                    <ul id="Wood_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Hardware:
                <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" href="#">
                        Galvanized
                    </a>
          
                </div>
               </div>
               Stain:
                  <div class="row">
                      <div class="large-12 columns">
                         <a class="medium button expand" href="#">
                              None
                         </a>
       
                       </div>
               </div>

          </div>

            <div class="panel">
               <div class="row">
                    <h5 style="text-align:center;"> Feature Customizations</h5>
               </div>

                 Size:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                       8 x 8
                    </a>
                    <ul id="Size_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Material:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                        Treated Pine
                    </a>
                    <ul id="Wood_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Hardware:
                <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" href="#">
                        Galvanized
                    </a>
          
                </div>
               </div>
               Stain:
                  <div class="row">
                      <div class="large-12 columns">
                         <a class="medium button expand" href="#">
                              None
                         </a>
       
                       </div>
               </div>

          </div>


       </div>
     </div>

   </div> <!-- End Right Nav -->



</div>
   

{% endblock %}

 {% block scripts %}
 {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/RequestAnime.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/OBJLoader.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/Detector.js' %}"></script>

    <script type="text/javascript">

         $(document).ready(function () {
             check_size();
         });

         $(window).resize(function () {
             check_size();
         });

         function check_size() {
      
             if ($(window).width() <= 768 || $('#right_Nav').outerHeight() < $(window).scrollTop()) {
                 $('#Product_Display').attr('style', 'position: static;');
             }
             if ($(window).width() > 768 && $('#right_Nav').outerHeight() > $(window).scrollTop()) {
                 $('#Product_Display').attr('style', 'position: fixed;');
             }
         }
         </script>

     <script type="text/javascript">
     $(document).ready(function () {
             check_size();
         });

         $(window).resize(function () {
             check_size();
         });

         function check_size() {

             if ($(window).width() <= 766) {
                 $('#info_blocks').removeClass().addClass('row hide');
             }
             else
             {
                 $('#info_blocks').removeClass().addClass('row show');
             }
         }
</script>
    
<script>

       var container, stats;

       var camera, scene, renderer, post;

       var mouseX = 0, mouseY = 0;

       var windowHalfX, windowHalfY;

       //var size = document.getElementById('size');
       var width = $(window).width();
       var height = $(window).height();

       init();
       animate();


       function init() {

           //container = document.getElementById('test');
           ////container = document.createElement( 'div' );
           //document.body.appendChild(container);

           windowHalfX = width / 2;
           windowHalfY = height / 2;

           camera = new THREE.PerspectiveCamera(45, width/height, 1, 1000);
           camera.position.z = 400;
           camera.position.y = 100;

           // scene

           scene = new THREE.Scene();

           var ambient = new THREE.AmbientLight(0x101030);
           scene.add(ambient);

           var directionalLight = new THREE.DirectionalLight(0xffeedd);
           directionalLight.position.set(0, 0, 1);
           scene.add(directionalLight);

           // texture

           var manager = new THREE.LoadingManager();
           manager.onProgress = function (item, loaded, total) {

               console.log(item, loaded, total);

           };

         //var texture = new THREE.Texture();
        
         //var texture = THREE.ImageUtils.loadTexture( "{% static 'media/wood2.jpg' %}" );

         var obj1 = new THREE.Object3D();
         var obj2 = new THREE.Object3D();
         var texture = new THREE.MeshLambertMaterial({ map: THREE.ImageUtils.loadTexture( "{% static 'media/wood2.jpg' %}") });

         var loader = new THREE.OBJLoader(manager);
         loader.load("{% static 'media/2BeamPost_1.obj' %}", function (object) { //onload
               
           obj1.add(object.clone());
           obj2.add(object.clone());
           object.position.x = 80;
           object.scale.set(-1,1,1);
           //object.material.map = texture;
           //     object.traverse(function (child) { //callback
             //      if (child instanceof THREE.Mesh) {           
                     //         child.material.map = texture;
                     //         material = child.material.map;
                     //      }
             //});   
           
           scene.add(object);
           
           });  

        obj1.position.x = -80;
         scene.add(obj1);
        
         obj2.position.x = 0;
         scene.add(obj2);

         //   loader.load("{% static 'media/2BeamPost_1.obj' %}", function (object) {

           //      object.traverse(function (child) {

              //                          if (child instanceof THREE.Mesh) {
      
                                     //            child.material.map = texture;
                                     //          }
                                     //     });
               //make changes to object here
           //          object.position.x = 0;
             
           //   scene.add(object); //add object to scene here
           // });
           var cube = new THREE.Mesh(new THREE.CubeGeometry(200, 0, 200), new THREE.MeshBasicMaterial({
               wireframe: true,
               color: 'black'
           }));
           scene.add(cube);


           //
           var c = $("#myCanvas");
           if (!Detector.webgl) {
               Detector.addGetWebGLMessage();
               renderer = new THREE.CanvasRenderer({ canvas: c.get(0) });
               //renderer.setSize(width, height);

           } else {
               alert("WEBGL")
               renderer = new THREE.WebGLRenderer({ canvas: c.get(0) });
               //renderer.setSize(width, height);
           }

           //container.appendChild(renderer.domElement);
           //document.addEventListener('mousemove', onDocumentMouseMove, false);
           //document.addEventListener('click', onDocumentClick, false);
           //

           window.addEventListener('resize', onWindowResize, false);
			      document.addEventListener( 'mousemove', onDocumentMouseMove, false );

       }

       function onWindowResize() {

           width = $(window).width();
           height = $(window).width();

           windowHalfX = width / 2;
           windowHalfY = height / 2;

           camera.aspect = width / height;
           camera.updateProjectionMatrix();

           //renderer.setSize(width, height);
       }
      function onDocumentMouseMove( event ) {
				mouseX = ( event.clientX - windowHalfX ) * 2;
				mouseY = ( event.clientY - windowHalfY ) * 2;
			}      
  
       function animate() {
         
           render();
           requestAnimationFrame(animate);
          
       }

       function deginRad(deg)
       {
           return deg * (3.1415926535 / 180);
       }

       function render() { 


				camera.lookAt( scene.position );

           renderer.render(scene, camera);
       }

   </script>


{% endblock %}
