{% extends "base.html" %}
{% block title %}Custom Structure{% endblock %}
{% block content %}
<div class="row">
    <div class="large-9 columns">
    <div id="Product_Display" class="large-12 panel columns">
        <div class="row">
            <div class="large-6 columns">
               <div class="large-12 columns">
                    
                   <h2>8x8 2-Beam Treated Pine Pergola</h2>


</div>
              

            </div>
            <div class="large-6 columns">
                <div class="large-6 columns">
                   Base Price: <h4>$1,000.00</h4>
                  
                </div>
                <div class="large-6 columns">
                   Customizations: <h4>$0.00</h4>

                </div>
            </div>
        </div>

      <div class="row">
      <div class="large-12 columns" id="GL_CANVAS" ></div>

      </div>
</div>
<!-- Start Info Blocks -->
        <div id="info_blocks" class="row"> 
             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>


             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

             <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-2 columns">
                    <img src="http://placehold.it/100x100&text=Site Owner">
                  </div>

                  <div class="large-10 small-10 columns">
                    <strong>This Site Is Managed By</strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>


          </div>
 <!-- End Info_Blocks -->


     </div>
         
        
    <div class="large-3 columns" id="right_Nav">
         <div class="panel">
          Total:<h3> $1,000.00  </h3> 
      </div>

      <div class="panel">
           <a class="large button alert expand" href="#">
           Add To Cart
          </a>
      </div>

      <div class="row">
       <div class="large-12 columns">
           <div class="panel">
               <div class="row">
                    <h5 style="text-align:center;"> Base Customizations</h5>
               </div>

                 Size:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                       8 x 8
                    </a>
                    <ul id="Size_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Material:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                        Treated Pine
                    </a>
                    <ul id="Wood_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Hardware:
                <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" href="#">
                        Galvanized
                    </a>
          
                </div>
               </div>
               Stain:
                  <div class="row">
                      <div class="large-12 columns">
                         <a class="medium button expand" href="#">
                              None
                         </a>
       
                       </div>
               </div>

          </div>

            <div class="panel">
               <div class="row">
                    <h5 style="text-align:center;"> Feature Customizations</h5>
               </div>

                 Size:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                       8 x 8
                    </a>
                    <ul id="Size_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Material:
               <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" data-dropdown="Wood_Drop" href="#">
                        Treated Pine
                    </a>
                    <ul id="Wood_Drop" class="f-dropdown content" >
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>          
                </div>
               </div>
               Hardware:
                <div class="row">
                <div class="large-12 columns">
                    <a class="medium button expand" href="#">
                        Galvanized
                    </a>
          
                </div>
               </div>
               Stain:
                  <div class="row">
                      <div class="large-12 columns">
                         <a class="medium button expand" href="#">
                              None
                         </a>
       
                       </div>
               </div>

          </div>


       </div>
     </div>

   </div> <!-- End Right Nav -->



</div>
   

{% endblock %}

 {% block scripts %}
     {% comment %}<script type="text/javascript">

         $(document).ready(function () {
             check_size();
         });

         $(window).resize(function () {
             check_size();
         });

         function check_size() {
      
             if ($(window).width() <= 768 || $('#right_Nav').outerHeight() < $(window).scrollTop()) {
                 $('#Product_Display').attr('style', 'position: static;');
             }
             if ($(window).width() > 768 && $('#right_Nav').outerHeight() > $(window).scrollTop()) {
                 $('#Product_Display').attr('style', 'position: fixed;');
             }
         }
         </script>{% endcomment %}
     <script type="text/javascript">
     $(document).ready(function () {
             check_size();
         });

         $(window).resize(function () {
             check_size();
         });

         function check_size() {

             if ($(window).width() <= 766) {
                 $('#info_blocks').removeClass().addClass('row hide');
             }
             else
             {
                 $('#info_blocks').removeClass().addClass('row show');
             }
         }
</script>
     {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/RequestAnime.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/OBJLoader.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/Detector.js' %}"></script>
<script>

    var  stats;
var container =document.getElementById('GL_CANVAS');
       var camera, scene, renderer, post;

       var mouseX = 0, mouseY = 0;

       var windowHalfX = window.innerWidth / 2;
       var windowHalfY = window.innerHeight / 2;


       init();
       animate();


       function init() {

                 if(Detector.webgl){
                   renderer = new THREE.WebGLRenderer({antialias:true});
               // If its not supported, instantiate the canvas renderer to support all non WebGL
               // browsers
                } else {
                     renderer = new THREE.CanvasRenderer();
                 }


           renderer.setSize( 900, 400 );
            document.getElementById("GL_CANVAS").appendChild(renderer.domElement);
           //document.body.appendChild( container );

           camera = new THREE.PerspectiveCamera( 45, container.innerWidth / container.innerHeight, 1, 2000 );
           camera.position.z = 100;

           // scene

           scene = new THREE.Scene();

           var ambient = new THREE.AmbientLight( 0x101030 );
           scene.add( ambient );

           var directionalLight = new THREE.DirectionalLight( 0xffeedd );
           directionalLight.position.set( 0, 0, 1 );
           scene.add( directionalLight );

           // texture

           var manager = new THREE.LoadingManager();
           manager.onProgress = function ( item, loaded, total ) {

               console.log( item, loaded, total );

           };

           var texture = new THREE.Texture();

           var loader = new THREE.ImageLoader( manager );
           loader.load( "{% static 'media/ash_uvgrid01.jpg' %}", function ( image ) {

               texture.image = image;
               texture.needsUpdate = true;

           } );

           // model

           var loader = new THREE.OBJLoader( manager );
           loader.load( "{% static 'media/2BeamPost_1.obj' %}", function ( object ) {

               object.traverse( function ( child ) {

                   if ( child instanceof THREE.Mesh ) {

                       child.material.map = texture;

                   }

               } );

               object.position.y = -80;
               post = object;
               scene.add( object );

           } );

           //


         //  container.appendChild( renderer.domElement );
           document.addEventListener('mousemove', onDocumentMouseMove, false);
{#           document.addEventListener('click', onDocumentClick, false);#}
           //

           window.addEventListener( 'resize', onWindowResize, false );

       }

       function onWindowResize() {

           windowHalfX = container.innerWidth / 2;
           windowHalfY = container.innerHeight / 2;

           camera.aspect = container.innerWidth / container.innerHeight;
           camera.updateProjectionMatrix();

           renderer.setSize( 900, 400 );

       }
{#       var x = 0;#}
{#       var basex = post.scale.x;#}
{#       function onDocumentClick(event) {#}
{##}
{#           if (x == 0) {#}
{#               post.scale.x = 10;#}
{#               x = 10;#}
{#           }#}
{#           else#}
{#           {#}
{#               post.scale.x = basex;#}
{#               x = 0;#}
{#           }#}
{#       }#}

       function onDocumentMouseMove( event ) {

           mouseX = ( event.clientX - windowHalfX ) / 2;
           mouseY = ( event.clientY - windowHalfY ) / 2;

       }

       //

       function animate() {
           requestAnimationFrame( animate );
           render();
       }

       function render() {
           camera.position.x += ( mouseX - camera.position.x ) * .05;
           camera.position.y += ( - mouseY - camera.position.y ) * .05;
           camera.lookAt( scene.position );
           renderer.render( scene, camera );
       }

   </script>


{% endblock %}